@import "tailwindcss";

/* Tornar o scroolbar invisivel */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); 
  border-radius: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4); 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}


/* overlay do modal */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.75); 
}


