@import "tailwindcss";

@theme {
  --color-body-color: #F0F2F5;
  --header-color: #5429CC
}

body{

  background-color: var(--color-body-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


